.list .item { float: left; width: 100%; border-bottom: 1px solid #333; padding: 5px 0px;}
.list .item div { float: left; margin-right: 1%; font-size: 14px;}
.list .item .number { font-weight: bold;  width: 14%; }
.list .item .message { width: 60%; }
.list .item .date { width: 15%; }
.list .item .name { width: 25%; }
.list .item .group { width: 24%; }
.list .item .addition { width: 25%; }
.list .item .controls { width: 7%; vertical-align: middle; float: right;}
.list .item .controls a { display: block; width: 24px; height: 24px; float: right; }
.list .item .controls .edit { background:#fff url("../img/glyphicons/pencil.png") no-repeat center center; }
.list .item .controls .delete { background:#fff url("../img/glyphicons/remove.png") no-repeat center center; margin-left: 10px; }

.logs { margin-top: 20px; }
.logs .item { width: 100%; float: left; padding: 3px 0px;}
.logs .item:nth-child(odd) { background: #CCC; }
.logs .item span { width: 20%; display: block; font-weight: normal;  float: left;}
.logs .item a { width: 80%; display: block; float: left;}

.paging { width: 100%; text-align: center; margin-top: 20px; display: inline-block; }
.paging a { margin: 5px; font-weight: normal; color: #000; }
.paging span { margin: 5px; font-weight: normal; color: #337ab7 }

