html { font-family: 'Ubuntu', Arial, Verdana; font-weight: 300; }
body { width: 1180px; margin: 0 auto; background-color: #fff;}
html, body { padding: 0px; height: 100%; }

.clear { clear:both; visibility:hidden; }

h1 { margin-top: 40px; text-align: center; } 
form { background-color: #E0E0E0; width: 400px; padding: 20px; margin: 40px auto; border-radius: 10px; }
form .row { width: 400px; text-align: center; margin: 15px 0;}
form input { width: 390px; float: left; border-radius: 0px; border: 1px solid #000; padding:1%;}
form input[type=submit] { margin: 0 auto; float: none; width: 200px; background-color:#337ab7; border-color: #2e6da4; border-radius: 4px; color: #fff; padding: 5px; font-weight: 300; }
form input:hover[type=submit] { box-shadow: 2px 2px 2px #2e6da4; }