html { font-family: 'Ubuntu', Arial, Verdana; font-weight: 300; }
body { width: 1180px; margin: 0 auto; background-color: #fff;}
html, body { padding: 0px; height: 100%; }
.clear { clear:both; visibility:hidden; }
.left { float: left; }
.right { float: right; }
.last { margin:0px; }

h1 { font-size: 24px; font-weight: normal; margin: 5px 10px; color: #FFF; float: left; }
h1 a { color: #FFF; }
h2 { font-size: 24px; font-weight: normal; padding-bottom: 10px; margin: 0px; color:#333; border-bottom: 1px solid #333; }
h3 { margin: 10px 0px 0px 15px; }

a { text-decoration: none; }

.wrapper { position: relative; min-height: 100%; background-color: #DEDEDE;} 

header { background-color: #000; display: block; padding: 0px 10px; }
header .header_nav { float: right; font-size: 14px;}
header .header_nav a { color: #FFF; text-decoration: none; margin: 10px; display: block; float: left;}
header .header_nav span.signal { background:#000 url("../img/glyphicons/signal.png") no-repeat center left; float: left; margin: 11px 10px 9px 10px; display: block; padding-left: 32px; width: 120px; font-weight: bold; color: #fff;}

nav { float: left; width: 200px; height: 100%; }
nav ul { padding: 0px; margin: 0px; }
nav ul li { list-style-type: none; padding:5px 25px; }
nav ul li.active { background-color: #337ab7; }
nav ul li a { color: #337ab7; font-size: 15px; }
nav ul li a:hover { color: #337ab7; }
nav ul li.active a { color: #EEE; }

article { margin-left: 200px; float: none; padding:10px 0px 10px 10px; background-color: #fff; height: 100vh; display: block;}

footer { text-align: center; background-color: #000; padding: 5px 0px; position: absolute; bottom: 0px; width: 100%;}
footer a { color: #fff; }

@media (max-width: 767px) {
	header .header_nav a { margin: 6px 5px; }
}